@import "tailwindcss";
@plugin "@egoist/tailwindcss-icons";
@plugin "@tailwindcss/forms";

@theme {
  --font-mono: "JetBrains Mono Variable", monospace;
  --font-sans: "Geist Variable", sans-serif;
  --font-serif: "Lora Variable", serif;
  --color-surface: #0a0a0a;
  --color-outline: #1a1a1a;
  --color-muted: #737373;
  --color-primary: #33b1ff;
  --color-primary-bright: #0f62fe;
  --color-secondary: #ee5396;
  --color-secondary-bright: #ff7eb6;
  --color-bright: #e5e5e5;
}

html {
  background-color: #000000;
  color: #e5e5e5;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @apply cursor-pointer;
}
